/* /src/assets/main.css */

@import "tailwindcss";

@theme {
  /* extend the default theme with custom variables */
  --color-primary: oklch(0.53 0.12 118.34);
  /* or override the default theme */
  --breakpoint-sm: 30rem;
}

html,
body {
  background-color: #060310; /* Встановлюємо фон для всього сайту */
  margin: 0;
  padding: 0;
  height: 100%;
}

@font-face {
  font-family: "Horizon";
  src: url("@/assets/fonts/horizon.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

.horizon-font {
  font-family: "Horizon", sans-serif;
}
.bebas_neue-font {
  font-family: "Bebas Neue", sans-serif;
}

@layer utilities {
  .size-var {
    --size: 20px;
  }
}
@layer utilities {
  @media (min-width: 1024px) {
    .size-var {
      --size: 24px;
    }
  }
  @media (min-width: 1280px) {
    .size-var {
      --size: 30px;
    }
  }
  @media (min-width: 1536px) {
    .size-var {
      --size: 30px;
    }
  }
}
